body {
	background: #edeef0 url(https://i.imgur.com/znyQY4C.png) repeat-x fixed;
	font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
}
.toTop {
	margin-top: 41px;
}
.layout {
	width: 960px;
	margin: 0 auto;
}
#wrapHI {
	border-right: none;
	border-left: none;
	background: #edeef0;
}
#wrapH {
	border-right: none;
	border-left: none;
}
.page_header {
	width: 960px;
	height: 41px;
	background: url(https://i.imgur.com/znyQY4C.png);
	background-repeat: repeat-x;
	background-position: 0;
	position: fixed;
	z-index: 199;
}

.page_body {
	background: #fff;
	margin-top: 46px;
	font-size:12px;
	width: 808px;
	margin-right: 0;
}
.page_content {
	width: 766px;
}

.header_navigation {
	padding-right: 0;
	margin-right: -16px;
}
.home_button {
	position: absolute;
	width: 145px;
	text-indent: -999px;
	height: 42px;
	background: url(https://i.imgur.com/uRyGyQw.png) no-repeat;
	background-position-y: 0px !important;
	background-position-x: 3px !important;
	background-size: 115px;
}
input[type~="search"][name~="query"] {
	width: 230px !important;
	background: url(http://svgur.com/i/Rr5.svg) no-repeat 3px 4px !important;
	background-color: #edeef0 !important;
	padding-left: 26.5px !important;
	background-position-y: 3.5px !important;
	background-position-x: 6px !important;
	padding-top: 3px !important;
	height: 25px !important;
	margin-top: 8px;
}

input[type~="search"] {
	border: none;
	padding: 3px;
	font-size: 11px;
	font-family: tahoma, verdana, arial, sans-serif;
	border-radius: 3px;
	height: 26px;
	width: 169px;
	position: absolute;
	margin-left: -819px;
	margin-top: 12px;
}
.header_navigation .link {
	display: inline-block;
	height: 25px;
	padding: 0px 4px 0 8px;
	background: none;
}
.header_navigation .link a {
	color: #abb3bb;
	text-decoration: none;
	font-weight: bold;
}
.header_navigation .link a:hover {
	text-decoration: none;
	color: #6690c0;
}
.header_navigation .link a[href="/"] {
	display: none;
}
.header_navigation .link a[href="/donate"] {
	display: none;
}
.header_navigation .link a[href="/search?type=groups"] {
	display: none;
}
.header_navigation .link a[href="/invite"] {
	background: url(https://i.imgur.com/PpDt5nd.png) no-repeat;
	position: absolute;
	color: #fff0;
	margin-top: 12px;
	margin-left: 0px;
	width:19px;
	height:17px;
}
.header_navigation .link a[href="/support"] {
	background: url(https://i.imgur.com/04Gakgc.png) no-repeat;
	position: absolute;
	color: #fff0;
	margin-top: 12px;
	margin-left: -45px;
	width:17px;
	height:16px
}
.header_navigation .link a[href="/search"] {
	background: url(https://i.imgur.com/hoVx0M3.png) no-repeat;
	position: absolute;
	color: #fff0;
	margin-top: 12px;
	margin-left: -43px;
	width:17px;
	height:17px
}
img.psa-poster {
	margin-top: 5px !important;
}
.page_footer {
	margin-left: 346px;
	padding-top: 5px;
	clear: both;
	text-align: center;
	width: 809px;
}

.page_yellowheader {
	padding: 0 20px;
	background: #fafbfc;
	border: solid 1px #e7e8ec;
	overflow: hidden;
	color: black;
	border-radius: 6px 6px 0 0;
	font-size: 14px;
	width: 94.85%;
	font-weight: normal;
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #dce1e6;
}
.page_yellowheader span {
	color: #8d8d8d;
	font-weight: 340;
	font-family: Tahoma;
}
.page_yellowheader a {
	color: #2a5885;
}

.wrap2 {
	border-right: 1px solid rgba(255, 255, 255, 0);
	border-top: 0px;
}
.wrap1 {
	width: auto;
	border-width: 0px 1px 1px;
	border-style: solid solid solid;
	border-color: #edeef0;
	border-image: initial;
	border-top: 0px;
}
.page_wrap {
	padding: 10px;
	width: 787px;
	border: solid 1px #e7e8ec;
	border-top: none;
	margin-left: 0;
}
.page-wrap {
	border-bottom: solid 1px #e7e8ec;
	border-left: solid 1px #e7e8ec;
	border-right: solid 1px #e7e8ec;
	padding: 10px 20px;
}
.wrap1 {
	width: auto;
	border: none;
}
.wrap2 {
	border-right: none;
	border-top: 0px;
}

/* .sidebar {
	width: 135px;
	margin: 4px 0 0 4px;
	float: left;
	margin-top: 3px;
}
.navigation .link {
	display: block;
	padding: 3px 3px 4px 6px;
	text-decoration: none;
	border-top: none;
	color: #000;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	font-size: 11px;
	text-align: left;
	cursor: pointer;
	background: none;
	margin-bottom: 1px;
	border-radius: 2px;
} */
.sidebar {
	width: 140px;
	margin: 4px 0 0 0px;
	float: left;
	margin-top: 45px;
	position: fixed;
}
.navigation .link {
	display: block;
	padding: 6px 3px 7px 8px;
	text-decoration: none;
	border-top: none;
	color: #334257;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	font-size: 11px;
	text-align: left;
	cursor: pointer;
	background: none;
	margin-bottom: 1px;
	border-radius: 2px;
	transition:ease-in 0.1s;
}
.navigation .edit-button {
	display: none;
}
.navigation .link:hover {
	background: #dfe2e7;
	border-top: none;
}

.left_small_block {
	float: left;
	width: 200px;
	border-right: 1px #e7e8ec solid;
	padding-right: 15px;
	margin-right: 15px;
	margin-left: -5px;
}
.left_big_block {
	width: 546px;
	float: left;
	margin-right: 20px;
}

td {
	padding: 0;
}
table {
	width:100%;
}
#basicInfo {
	width:100%;
	padding: 5px 0px 15px 3px;
}
.page_info {
	margin-top: 5px;
}
.right_big_block > div:nth-of-type(2) > div:nth-of-type(2) {
	padding: 5px 0px 15px 3px!important;
}
.right_small_block {
	float: right;
	width: 200px;
	padding-right: 0;
}
.right_big_block {
	width: 545px;
	float: right;
	margin-right: -5px;
}
.page_status {
	width: auto;
}
.page_status_popup {
	position: absolute;
	border: 1px solid #d3d9de;
	background-color: #fafbfc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	padding: 15px;
	float: right;
	margin-top: 5px;
	margin-left: -11px;
	width: 535px;
}

.accountInfo {
	padding: 0px;
	margin: 0px 0px 0px 3px;
	border-bottom: solid 1px #edeef0;
	display: block;
}
#profile_link, .profile_link {
	font-size: 11px;
	color: #707c8a;
	width: 200px !important;
	height: 25px;
	text-align: center;
	background: #e6ebf1;
	padding: 5px;
	border-radius: 3px;
	border: none;
	transition: ease 0.05s;
	line-height: 15px;
	margin: 5px 0 0 0
}
#profile_link, .profile_link a{
	padding-top: 5px;
}
#profile_link:hover {
	background: rgb(221, 226, 232);
}
#profile_link:hover, .profile_link:hover {
	background: rgb(221, 226, 232);
	border-bottom: none;
}
.right_big_block > div:nth-of-type(2) > div:nth-of-type(2) {
	padding: 0;
	margin-top: -5px;
}
.ugc-table {
	width: 100%;
}
.ugc-table td {
	line-height: 15px;
}
.ugc-table tr > td:nth-of-type(1) {
	width: 30%;
}
.ugc-table tr > td:nth-of-type(2) {
	width: 100% !important;
}

table {
	font-size: 11.5px;
	line-height: 1.3;
}

.completeness-gauge {
	position: relative;
	width: 100%;
	height: 24.5px;
	background-color: #e5ebf1;
	border-top: none;
	border-radius: 3px;
}
.completeness-gauge > div {
	height: 100%;
	background-color: #6690c0;
	border-radius: 3px 0 0 3px;
}
.completeness-gauge > span {
	color: white;
}

h4 {
	border-bottom: 1px solid #E8EBEE;
	color: #667b9a;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 8px 0px;
	font-family: helvetica;
}
h2 {
	color: #667b9a;
}
hr {
	border: 1px solid #E8EBEE !important;
}
.profileName h2 {
	color: #667b9a;
}
.content_subtitle {
	background-color: #f9fafb;
	display: block;
	font-size: 11px;
	border-bottom: 1px solid #f1f1f1;
	color: #666;
	padding: 3px 8px;
	border-top: #dfe6ec solid 1px;
}
.content_title_expanded, .content_title_unexpanded {
	background-color: #dfe6ec;
	background-image: unset !important;
	/* border-top: #dfe6ec solid 1px; */
	border-top: none;
	border-bottom: #dfe6ec solid 1px;
	font-weight: bold;
	color: #667b9a;
	font-size: 11px;
	display: block;
	pointer-events: none;
	padding: 3px 10px;
}
.post .post-divider{
	padding: 5px 0px;
	margin-left: -15px;
}
.post-online {
	display:none;
	height:0
}
.attachment .post {
	border-left: 2px solid rgba(0, 20, 51, 0.12);
	padding-left: 4px;
}
.expand_button {
	background-color: #fff;
	margin-top:3px;
	padding:7px 0 4px;
	font-size:12px;
	border-top: 1px #ddd solid;
}
.expand_button:hover {
	color:#6690c0;
	font-weight:500;
	background-color:transparent;
}
#wallAttachmentMenu {
	position: absolute;
	margin-top: 18px;
	border: none;
	background-color: white;
	z-index: 32;
	padding: 6px 0;
	box-shadow: 0 20px 40px rgba(0,0,0,.20);
	border-radius: 12px;
	font-size: 13px;
}
#wallAttachmentMenu > a {
	padding: 8px 15px;
	color: black;
	line-height: 18px;
}
#wallAttachmentMenu > a:hover {
	background-color: rgba(174, 183, 194, 0.16);
}

.commentsTextFieldWrap {
	padding: 5px 7px 0;
	background-color: white;
	border-top: 1px solid #ecebf0;
	border-left: 0;
	border-right: 0;
	border-bottom: none;
}

.tabs {
	border-bottom: 1px solid #dce1e6;
	margin-left: -10px;
	margin-right: 0;
	width: 786px;
	font-size: 13px;
	padding-left: 20px;
}
#auth .tabs {
	margin-left: -20px;
}
#activetabs {
	background: white;
	border-radius: 3px;
	border-bottom: 2px solid #5181b8;
	padding: 8px 15px;
}
.tab {
	background: white;
	border-radius: 3px;
	margin-left: 0;
	padding: 8px 15px;
}
.tab:hover {
	border-bottom:2px solid #dce1e6;
}
#act_tab_a {
	color: black;
}
.tab, #activetabs.tab {
	transition:color .2s ease;
}

div.content > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > a:nth-child(1) > img:nth-child(1) {
	width: 75px;
	height: 75px;
	object-fit: cover;
	border-radius: 100px;
	margin-right: 5px;
}
.container_gray {
	background: white;
	width: 784px;
	padding: 10px;
	border-top: none;
	margin-left: -10px;
	margin-bottom: -10px;
}
.container_gray > h4 {
	padding-top: 0;
}
#auth {
	padding: 10px 20px;
}
#auth .container_gray {
	margin-left: -20px;
	margin-bottom: -10px;
	width: 766px;
	background: white;
	border-top: none;
	padding: 10px 20px;
}
.container_gray .content {
	background: #fff;
	padding: 0px 5px 7px 5px;
	border: none;
	border-bottom: #dce1e6 solid 1px;
	clear: both;
	margin-bottom: 12px;
}

.knowledgeBaseArticle {
	margin-top: 0;
}

.ovk-avView {
	padding: 10px 0 5px;
	display: flex;
	flex-wrap: wrap;
}
.ovk-avView--el .ava {
	max-width: 100%;
	max-height: 63px;
}
.ovk-avView--el {
	width: 32.43%;
	font-size: 12px;
	padding: 3px 0px;
}
.crp-entry--message---av > img, .ava {
	width: 50px;
	height: 50px;
}
.post > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > img:nth-child(1) {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 100px;
	margin-right:5px;
}
.post {
	margin: 10px 0;
	padding: 0;
}
.comment {
	border-top: 1px #dce1e6 solid;
	padding: 5px 0 2px !important;
	margin: 0 !important;
}
.comment .post-content .text {
	padding: 0 5px 4px 0;
}
.post-content .text {
	font-size: 13px;
	padding: 0 5px 0 0;
}
.post-author {
	background-color: transparent;
	border-top: none;
	border-bottom: none;
	font-size: 12px;
	padding: 3px 0 3px;
	line-height: 125%;
	margin: 0;
}
.post-author .date {
	font-size: 11px;
	color: #99a2ac;
}
.post-signature {
	margin: 10px 0 0;
}
.post-signature span {
	font-size:12px;
}
.post-menu {
	height: 28px;
	font-size: 12px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 5px 5px 5px 0px;
	border-top: 1px solid #ebedf0;
	margin-top: 10px;
}
.like_wrap {
	display: flex;
	justify-content: space-evenly;
}
.post-like-button {
	margin-left:8px;
}
.post-share-button, .post-like-button {
	background: #f0f2f5;
	border-radius: 32px !important;
	padding: 4px 12px;
	display: flex;
}
.post-share-button:hover, .post-like-button:hover {
	background-color: #ebedf0
}
.heart {
	background: url('https://i.postimg.cc/rwM4zZ87/like.png') no-repeat;
	height: 20px;
	width: 22px;
	float: none;
	margin: 0;
	opacity:1!important
}
.heart:hover {
	opacity: 1 !important;
}
#liked {
	background: url('https://i.postimg.cc/T1QfcvNW/like-hover.png') no-repeat;
}
.likeCnt {
	font-size: 14px;
	float: left;
	margin: 0px 0 0 4px;
	font-family: noto sans,sans-serif;
	color: #818c99;
	line-height: 19px;
}
.likeCnt:empty {
   margin:0
}
.repost-icon {
	background: url('https://i.postimg.cc/J006w7Fc/share1.png') no-repeat;
	height: 20px;
	margin: 0;
	width: 20px;
	opacity:1!important
}

.comment #liked {
	background: url('https://i.postimg.cc/Bbv7Krr6/like-small-hover.png') no-repeat;
}
.comment .post-menu {
	font-size: 12px;
	display: inherit;
	height: fit-content;
	margin: 0px 5px 1px 0;
	padding: 0;
	border-top: none;
}
.comment .heart {
	background: url('https://i.postimg.cc/mk6XNd4S/like-small.png') no-repeat;
	height: 12px;
	margin: 0;
	width: 12px;
	opacity: 0.5!important;
	transition:0.1s
}
.comment .heart:hover {
	opacity:1!important;
}
.comment .post-like-button {
	background:none;
	display: flex;
	padding: 0;
	border-radius: 0 !important;
	transition-duration: 0.2s;
	justify-content: center;
}
.comment .likeCnt {
	font-size: 12px;
	line-height: 0.9;
	padding: 0;
}
.ovk-diag-cont {
	min-height: 170px;
}
.ovk-diag {
	margin: 0;
	width: 100%;
	background-color: #fff;
	border: none;
}
.ovk-diag-head {
	padding: 15px;
	background-color: #fafbfc;
	border-bottom: 1px solid #dce1e6;
	color: black;
	font-weight: 400;
	font-size: 15px;
	border-radius: 4px 4px 0 0;
}
.ovk-diag-body {
	padding: 20px;
	min-height: 80px;
}
.ovk-diag-action {
	padding: 0 20px 20px;
	height: 25%;
	background-color: white;
	text-align: right;
	border-radius: 0 0 4px 4px;
}

.header_search_input {
	border: 1px solid #edeef0;
	padding-left: 34px;
	font-size: 12px;
	height: 26px;
	background: #fff url('https://i.imgur.com/hoVx0M3.png') no-repeat;
	background-position-x: 10px;
	background-position-y: 7px;
	background-size: 15px;
}
.button_search {
	border: none;
	background: #5181b8;
	padding: 7px 16px;
	text-shadow: none;
	text-decoration: none;
	width: fit-content;
	border-radius: 4px;
}
.button {
	border-radius: 4px;
	font-size: 13px;
	padding: 7px 16px;
	background: #6690c0;
	text-shadow: none;
}
.button:hover {
	opacity:0.9;
}
.post-content {
	border-bottom: none;
}
.post-content .text {
	line-height:125%
}
.content {
	padding: 0;
	padding-top: 8px;
}
input[class=button]:hover {
	background: #4e7db2;
	color: #fff; 
}
input[class="button"] {
	padding: 7px 16px;
	background: #5181b8;
	border: none;
	text-shadow: none;
	width: inherit !important;
}
input[class=button]:active {
	padding: 7px 16px;
	background: #4e7db2;
}
a {
	text-decoration: none;
	color: #667b9a;
	cursor: pointer;
}
.crp-list {
	margin: 10px -6px 0 -11px;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #edeef0;
	max-height: 70%;
	overflow-y: auto;
}
input[name="name"],input[type="text"],input[type~="text"], input[type="password"], input[type~="password"], input[type="email"], input[type="phone"], input[type~="email"], input[type~="phone"], input[type="search"], select {
	border: 1px solid #edeef0;
	padding: 3px;
	font-size: 11px;
	font-family: tahoma, verdana, arial, sans-serif;
	height: 26px;
	width: 100%!important;
}
input[name="key0"],input[type="text"]+input[type="text"] {
	width:50px !important;
}
input[name="query"] {
	width: 670px !important;
	height: 31px;
}
.crp-list {
	width:790px;
}
.crp-entry {
	display: flex;
	padding: 8px;
	border-bottom: 1px solid #edeef0;
	cursor: pointer;
	width: 770px;
}
.messenger-app {
	width: 805px;
	border-left: 1px solid #e3e4e6;
	border-right: 1px solid #e3e4e6;
	margin-left: 1px;
	border-bottom: 1px solid #e3e4e6;
}
.messenger-app--messages {
	padding: 10px 20px;
	height: 450px;
}
.messenger-app--input {
	background-color: #fff;
	height: 120px;
	border-top: 1px solid #edeef0;
	padding: 20px;
}
.messenger-app--messages---message, .messenger-app--input {
	display: flex;
	align-items: flex-start;
}
.messenger-app--messages---message ._content {
	padding-left: 20px;
	width: 500px;
}
.messenger-app--messages---message .time {
	width: 200px;
}
.messenger-app--input---messagebox .button:hover {
	padding: 5px 7px 4px;
	padding-top: 7px;
	padding-bottom: 7px;
	background: #5181b8;
	color: #fff;
}
.messenger-app--input---messagebox .button {
	padding: 5px 7px 4px;
	padding-top: 7px;
	padding-bottom: 7px;
	background: #5181b8;
	color: #fff;
}
.messenger-app--input---messagebox .button:active {
	padding: 8px 7px 6px;
	background: #4e7db2;
	color: #fff;
}
#faqcontent {
	background: #fff;
	margin: 0px 5px 10px 5px;
	padding: 5px 5px 5px 10px;
	border: 1px solid #E7EAED;
}
textarea {
	font-family: unset;
	border: 1px solid #edeef0;
	font-size: 9pt;
	min-height: 42px;
}
.page_footer .link {
	padding: 5px 8px;
	display: inline-block;
	color: #334257;
	text-decoration: none;
	border-top: none;
	transition:ease 0.1s
}
.page_footer .link:hover {
	background: #dfe2e7;
	  border-top:none
}

.postFeedWrapper {
	margin: 0;
	margin-left: -20px;
	padding: 0 20px;
	width: 766px;
	background-color: #fff;
	border-bottom: 1px solid #e7e8ec;
}

.user-alert {
	margin-left: 0;
	margin-bottom: 10px;
	padding: 10px 13px;
	border: none;
	font-weight: 500;
	background-color: rgba(255, 213, 79, 0.2);
	color: black;
	border-radius: 6px;
}
.msg {
	width: auto;
	margin: auto;
	margin-bottom: 10px;
	border: none;
	background-color: #e6f2f3;
	border-radius: 6px;
}
.msg.msg_succ {
	border: none;
	background-color: #ddf3d7;
	margin: 10px;
}
.accent-box {
	background-color: #ebedf0;
	border-radius: 6px;
	margin: 10px;
	padding:10px 16px;
	border: none;
}

#tracy-debug-bar {
	display:none; /*Tracy is no more*/
}
